{#
SPDX-FileCopyrightText: 2025 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if headscale_container_labels_traefik_enabled %}
traefik.enable=true

{% if headscale_container_labels_traefik_docker_network %}
traefik.docker.network={{ headscale_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if headscale_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ headscale_identifier }}-slashless-redirect.redirectregex.regex=^({{ headscale_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ headscale_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [headscale_identifier + '-slashless-redirect'] %}
{% endif %}

{% if headscale_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ headscale_identifier }}-strip-prefix.stripprefix.prefixes={{ headscale_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [headscale_identifier + '-strip-prefix'] %}
{% endif %}

{% if headscale_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in headscale_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ headscale_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [headscale_identifier + '-add-request-headers'] %}
{% endif %}

{% if headscale_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in headscale_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ headscale_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [headscale_identifier + '-add-response-headers'] %}
{% endif %}

{% if headscale_container_labels_api_enabled %}
########################################################################
#                                                                      #
# api                                                                  #
#                                                                      #
########################################################################

traefik.http.routers.{{ headscale_identifier }}-api.rule={{ headscale_container_labels_api_rule }}
{% if headscale_container_labels_api_priority | int > 0 %}
traefik.http.routers.{{ headscale_identifier }}-api.priority={{ headscale_container_labels_api_priority }}
{% endif %}
traefik.http.routers.{{ headscale_identifier }}-api.service={{ headscale_identifier }}-api
{% if middlewares | length > 0 %}
traefik.http.routers.{{ headscale_identifier }}-api.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ headscale_identifier }}-api.entrypoints={{ headscale_container_labels_api_entrypoints }}
traefik.http.routers.{{ headscale_identifier }}-api.tls={{ headscale_container_labels_api_tls | to_json }}
{% if headscale_container_labels_api_tls %}
traefik.http.routers.{{ headscale_identifier }}-api.tls.certResolver={{ headscale_container_labels_api_tls_certResolver }}
{% endif %}

traefik.http.services.{{ headscale_identifier }}-api.loadbalancer.server.port={{ headscale_container_http_api_port }}

########################################################################
#                                                                      #
# /api                                                                 #
#                                                                      #
########################################################################
{% endif %}


{% if headscale_container_labels_grpc_enabled %}
########################################################################
#                                                                      #
# grpc                                                                 #
#                                                                      #
########################################################################

traefik.http.routers.{{ headscale_identifier }}-grpc.rule={{ headscale_container_labels_grpc_rule }}
{% if headscale_container_labels_grpc_priority | int > 0 %}
traefik.http.routers.{{ headscale_identifier }}-grpc.priority={{ headscale_container_labels_grpc_priority }}
{% endif %}
traefik.http.routers.{{ headscale_identifier }}-grpc.service={{ headscale_identifier }}-grpc
{% if middlewares | length > 0 %}
traefik.http.routers.{{ headscale_identifier }}-grpc.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ headscale_identifier }}-grpc.entrypoints={{ headscale_container_labels_grpc_entrypoints }}
traefik.http.routers.{{ headscale_identifier }}-grpc.tls={{ headscale_container_labels_grpc_tls | to_json }}
{% if headscale_container_labels_grpc_tls %}
traefik.http.routers.{{ headscale_identifier }}-grpc.tls.certResolver={{ headscale_container_labels_grpc_tls_certResolver }}
{% endif %}

traefik.http.services.{{ headscale_identifier }}-grpc.loadbalancer.server.port={{ headscale_container_grpc_port }}
traefik.http.services.{{ headscale_identifier }}-grpc.loadbalancer.server.scheme=h2c

########################################################################
#                                                                      #
# /grpc                                                                #
#                                                                      #
########################################################################
{% endif %}


{% endif %}

{{ headscale_container_labels_additional_labels }}
